.first,
.second,
.third,
.bgi {
	background-image: url(../img/parallax/cloud.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	left: 0;
	z-index: -11;
	top: -229px;
	height: 950px;
}
.second {
	z-index:-9;
	top: 200px;
	height: 1150px;
	background-image: url(../img/parallax/mountaing.png);
}
.third {
	z-index: -8;
	top: 410px;
	height: 800px;
	background-image: url(../img/parallax/human.png);
}
.bgi {
	z-index: -7;
	top: 0;
	left: 0;
	height: 100vh;

	background-image: url(../img/parallax/BG\ Hero.png);
}
body{
	font-family: sans-serif;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.head{
	display: flex;
	justify-content: space-between;
	padding-top: 64px;
	align-items: center;
	color: white;
}
.head-title{
	font-size: 32px;
	line-height: 38px;
	text-transform: uppercase;
	z-index: 100;
}
.head-menu{
	display: flex;
	text-decoration: none;
	text-transform: capitalize;
}
.head-menu__item:not(:last-child){
	margin-right: 40px;
}
.head-menu__link{
	font-size: 18px;
	line-height: 22px;
	/* color: white; */
}	
.head-profile{
	padding: 12px 25px;
	border-radius: 10px;
	border: 1px solid black;
	font-size: 17px;
	line-height: 21px;
}
.slogan{
	width: 650px;
	margin: 200px auto 0;
}
.slogan-guide{
	color: #FBD784;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;
	display: flex;
	margin-bottom: 32px;
	align-items: center;

}
.slogan-guide::before{
	content: "";
	display: inline-block;
	width: 72px;
	height: 2px;
	background: #FBD784;
	margin-right: 32px;
}
.slogan-title{
	font-size: 56px;
	line-height: 100px;
	text-transform: capitalize;
	margin-bottom: 32px;
}
.slogan-scroll{
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	position: relative;
}	
.slogan-scroll::after{
	content: "";
	display: inline-block;
	height: 25px;
	width: 2px;
	background: white;
	position: absolute;
	right: -20px;
	top: calc((100% - 25px)/2);
}
.slogan-scroll::before{
	content: "";
	display: inline-block;
	position: absolute;
	width: 10px;
	height: 10px;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	transform: rotate(45deg);
	right: -24.9px;
	bottom: -1.5px;
	/* bottom: calc(-3px / 2); */

}