body{
    font-size: 40px;
    line-height: 50px;
}
body *{
    margin: 20px;
}
p{
    background: black;
    color: white;
}
/* :root{
    --main-light-background:yellow;
    --main-dark-background:blue;
}
.square{
    height: 100px;
    width: 100px;
    background: var(--main-light-background);
}
.square:first-child{
    background: var(--main-dark-background);
} 
    переменные, задавание цветов с помощью переменных*/
/* .square{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(90deg, #f2d7eeff, #d3bcc0ff, #a5668bff, #69306dff, #ba5624ff);
} */