body{
    font-family: 'Rubik', sans-serif;
}
.container{

}
.title{
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    /* text-shadow: 5px 5px 5px red; */
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.info-wrapper{
    width: 900px;
    margin: 25px auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.247);
    display:flex;
    column-gap: 50px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}
.info-number{
    font-size: 36px;
    padding: 22px;
    line-height: 28px;
    font-weight: 700;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    border-radius: 6px;
    color: white;
    margin-bottom: 26px;
}
.info-title{
    font-weight: 500;
    font-size: 18px;
    color: #031D5B;
    line-height: 21px;
    position: relative;
    margin-bottom: 51px;
}
.info-title::after{
    position: absolute;
    content: "";
    width: 72px;
    height: 4px;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    bottom: -29px;
    left: 0;
}

.info-text{
}