*{
    margin: 0;
    padding: 0;
}
.flex{
    background-color:rgb(224, 35, 35);
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    gap: 30px 60px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

}
.flex-child{
    width: 100px;
    height: 100px;
    background:gray;
    /* margin-right: 10px; */
    text-align: center;
}