* {
	/* m0 */
	margin: 0;
	padding: 0;
}

body {
	/* ffss */
	font-family: sans-serif;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.hero {
	background-image: url(./background-hero.png) ;
	/* background-repeat: no-repeat; */
	max-width:100%;
	background-size: cover;
	background-position: center;
	padding: 528px 0 133px 224px;
	color: white;
}
img {
	list-style: none;
}
.hero-title {
	font-size: 48px;
	line-height: 59px;
	/* color: white; */
	/* mb16 */
	margin-bottom: 16px;
	text-transform: uppercase;
}

.hero-subtitle {
	font-size: 18px;
	line-height: 22px;
	/* color: white; */
	margin-bottom: 22px;
	font-family: lato;
}
.hero-slogan{
	font-weight: bold;
	font-size: 54px;
	line-height: 66px;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.3);
	width: max-content;
	/* display: inline-flex; вот тут пока тяжело*/
	/* display: inline-block; эта штука делает строчно блочным поэтому занимает место по контенту */
	/* width:max-content три строчки работают одинаково( две с самой верхней),но этот оставляет его блочным */
	padding: 38px 31px;
	border: 1px solid white;

}
.span{
	/* padding: 38px 23px 38px 31px;
	border-right: 1px solid;
	display: inline-block; */
	margin-right: 52px;
}
.yellow-text{
	color:#F48E0B;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 22px;
	text-transform: uppercase;
	border-bottom: 3px solid #F1B128;
	margin-top: 100px;
	margin-bottom: 100px;
	/* display: inline-block; */
}
.nav-heading{
	font-size: 28px;
	font-weight: bold;
	/* display: flex; */
}
.nav-menu{
	display:flex;
	column-gap: 69px;
	list-style: none;
}
.nav-menu-item{
}
.nav-menu-link{
	color: black;
	text-decoration:none;
	font-size: 18px;
	line-height: 22px;
	font-family: lato;
}
.info{
	display: flex;
	justify-content:space-between ;
	/* column-gap: 30px; */
}
.info-holder{
	display: flex;
	width: calc((100% - 30px)/2);
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 22px;
}
.info-wrapper{
	width: calc((100% - 30px)/2);
}
.info-wrapper-title{
	text-transform: uppercase;
	font-size: 18px;	
	line-height: 18px;
	margin-bottom: 22px;
	/* font-weight: bold; */
}
.info-wrapper-text{
	font-family: lato;
	font-size: 14px;	
	line-height: 22px;
	margin-bottom: 36px;
}
.info-wrapper-link{
	background:#F1AD1D;
	/* display: inline-block; */
	padding: 19px	27px;
	text-decoration: none;
	color:white;
}
.portfolio{
	margin-top: 100px;
	margin-bottom: 100px;
}
.portfolio-item{
	width: 370px;
}
.item-header{
	margin-top: 7px;
	display: flex;
	align-items: center;
}
.item-header-edit{
	padding: 11px;
	background: black;
	margin-right: 8px;
}
.item-header-text{
	font-size: 18px;
	line-height: 22px;
	font-family: 'Montserrat', sans-serif;						;
}
.item-description{
	font-size: 14px;
	line-height: 17px;
	font-family: Lato;
	font-weight: 300;
	margin-top: 15px;
	padding-bottom:14px;
	border-bottom: 1px solid #C1C1C1;
}
.item-data-date{
	padding-left: 0;
	margin-top:11px;
}
.gallery{
	padding-top: 107px;
}
.gallery-title{
	/* margin-top: 107px;		 */
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 29px;
	text-transform: uppercase;
}
.gallery-text{
	text-align: center;
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 109px;
}
.filters{
	display: grid;
	grid-auto-flow: column;
	margin-bottom: 44px;
	list-style:none;
	justify-content: center;
	column-gap: 14px;
}
.filters-link{
	text-decoration: none;
	color: black;
	padding: 13px 36px 13px 36px;
	border: 1px solid #333333;
	font-family: lato;
	font-size: 14px;
	line-height: 18px;
}
.black-bg{
	background: black;
}
.album-wrapper{
	display: grid;
	list-style: none;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 271px ;
	gap: 14px;
}
.album-element{
	position: relative;
}
.album-hover{
	background: white;
	display: flex;
	position: absolute; 
	display: flex;
	/* top: 0; */
	/* left: 0; */
	flex-direction: column;
	padding: 50px 13px 37px;
	align-items: center;
	font-family: lato;
	opacity: 0;
	border: 1px solid black;
	top: -200%;	
	transition: 0.5s;
}
.album-element:hover .album-hover{
	opacity: 1;
	top: 0;
}
.album-hover__title{
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 22px;
}
.album-hover__line{
	margin-bottom: 28px;
	height: 3px;
	color: orange;

}
.album-hover__text{
}	
.album-hover__link{
	text-decoration: none;
	color: white;
	font-size: 14px;
	line-height: 18px;
	padding:12px 33px;
	margin-top: 27px;
	display: inline-block;
	background: orange;
}
.form-feedback{
	display: flex;
	flex-direction: column;
	width: 574px;
}
.form-title{
	padding: 24px 0 17px 17px;
	display: inline-block;
	background: #000;
	color: white;
	font-size: 18px;
	line-height: 19px;
	margin-top: 45px;
}
.form-subtitle{
	font-size: 14px;
	line-height: 22px;
	margin-top: 12px;

}
.feedback-input{
	border: 1px solid #929292;
	/* width: 274px;
	height: 46px; */
	padding-top: 21px;
	padding-bottom: 13px;
	padding-left: 14px;
	width: 100%;

}
.feedback-message{
	resize: none;
	padding: ;
}
.text-div{
	display: flex;	
	justify-content: space-between;
	width: 100%;
}
.text-email{
	/* display: flex; */
	width: calc(( 100% - 25px ) / 2);
	/* justify-content: space-between; */
}