.h1{
    font-size: 2em;
    /* display: flex;
    flex-direction: column; */
}
.sizing{
    font-size: 18px;
    width: 10px;
}
p{
    font-size: 24px;
    font-weight: bold;
}
li{
    display: inline-block;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: blue ;
}
span{
    font-size: 24px;
    font-weight: bold;
    color: blue;
}