.main{
	padding: 20px;
	background: black;
}
.main-child{
	padding: 25px;
	background: coral;
	margin: 2px;
}
.main::before{
	content:"";
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: red;
}
p{
	margin: 100px;
	font-size: 22px;
}
p::selection{
	background: aquamarine;
}
p::first-letter{
	font-size: 38px;
	background: red;
}
p::first-line{
	line-height: 50px;
}