*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    height: 100vh;
    background: rgb(216, 85, 85);
    /* flex-direction: column  ; */
}
.flex-child{
    flex-basis: 20%;
    background: blue;
    margin: 3px;

    

}
/* .child-1{
    flex-grow: 3;
}
.child-2{
    flex-grow: 2;

}
.child-3{
    flex-grow: 2;
}
.child-4{
    flex-grow:4;
} */
table{
    /* border: 1px solid black;  */

}
tr{
    /* border: 1px solid black; */
}
td{
    width: 300px;
    color: black;
    border: 1px solid black;

}